# Віртуальне середовище (занадто важке, Render створить своє)
venv/
env/
.venv/

# Секретні ключі та паролі (НАЙВАЖЛИВІШЕ!)
.env

# Кеш Python (зайве сміття)
__pycache__/
*.pyc
*.pyo
*.pyd

# Системні файли Mac/Windows
.DS_Store
Thumbs.db